{% extends "base.html" %}

{% load materializecss %}

{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="card z-depth-5">
                    <div class='container center'>
                        <h4>
                            {{ nome_pagina }}
                        </h4>
                    </div>

                    <div class="container style-form">                       
                        {{ form|materializecss }} 
                    </div>

                    <div class="center text-right">
                        <a href="/" class="btn btn-secondary text-white" type="button">
                            <span class="text">Cancelar</span>
                        </a>
                        <button class="btn btn-primary" type="submit">
                            <span class="text">Cadastrar</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
