{% extends "base.html" %}

{% block content %}
    <!-- <div class="fixed-action-btn">
        <a href="{% url 'registrar_receita' %}" class="btn-floating btn-large" style="background-color: #ACC077">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <div class="col s12 pt-2">
        <div class="container">
            <span class="breadcrumb" style="color: gray;">Dashboard</span> 
        </div> 
    </div> -->

        <!-- <div class="d-flex justify-content-center">
            
                    <div class="card table-plain-bg">
                        <div class="card-header">
                            <h4 class="card-title">Table on Plain Background</h4>
                            <p class="card-category">Here is a subtitle for this table</p>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Remédio</th>
                                    <th>Médico</th>
                                    <th>Intervalo</th>
                                    <th>Início</th>
                                    <th>Dosagem</th>
                                </thead>
                                <tbody>
                                    {% for obj in list_receitas %}
                                        <tr>
                                            <td>{{obj.Receita.remedio.nome}}</td>
                                            <td>{{obj.Receita.intervalo}} horas</td>
                                            <td>{{obj.Receita.quantidade_dias}} dias</td>
                                            <td>{{obj.Receita.data_inicio}}</td>
                                            <td>{{obj.Receita.dosagem}}</td>
                                            <td>
                                                {% if obj.Agenda %}
                                                    <a class="btn waves-effect z-depth-2 " href="{% url 'dosagem_usuario' obj.Receita.id %}" style="background-color:#32BF84">
                                                        <i class="material-icons right">info</i>
                                                        VISUALIZAR
                                                    </a>
                                                {% else %}
                                                    {% if obj.Receita.data_inicio <= data_atual %}
                                                        <a class="btn waves-effect z-depth-2 " href="{% url 'configura_horario_dosagem' obj.Receita.id %}" style="background-color:#32BF84">
                                                            <i class="material-icons right">info</i>
                                                            INICIAR
                                                        </a>
                                                    {% else %}
                                                        <a  onclick="M.toast({html: 'você só pode começar a tomar dia {{obj.Receita.data_inicio}}'})" class="btn waves-effect z-depth-2" style="background-color:#32BF84">
                                                            <i class="material-icons right">info</i>
                                                            ESPERA
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
               
        </div> -->

    {% if listReceitas %}
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-sm-3">
                                <h4 class="card-title text-muted">Receitas</h4>
                            </div>
                            <div class="col-sm-9 d-flex justify-content-end">
                                <form class="form-inline">
                                    <input class="form-control mr-sm-2" id="search" name="search" placeholder="Pesquisar..." type="text" data-list=".list">
                                </form>
                            </div>
                        </div>
                        <hr >
                    </div>
                    <div class="card-body table-full-width table-responsive py-0">
                        <table class="table table-striped pb-0 mb-0">
                            <thead>
                                <th>Remédio</th>
                                <th>Médico</th>
                                <th>Intervalo</th>
                                <th>Início</th>
                                <th>Dosagem</th>
                                <th>Informações</th>
                            </thead>
                            <tbody class="list">
                                {% for receita in listReceitas %}
                                    <tr>
                                        <td>{{receita.receita}}</td>
                                        <td>Dakota Rice</td>
                                        <td>$36,738</td>
                                        <td>Niger</td>
                                        <td>Oud-Turnhout</td>
                                        <td>
                                            <a href="#" class="text-center"><i class="material-icons">description</i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="d-flex align-items-center justify-content-center" style="min-height: 70vh;">
            <div class="card">
                <div class="card-body m-0">
                    <span class="text-muted">No momento, não existem receitas cadastradas!</span>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $('#search').hideseek();
        });
    </script>
{% endblock %}