{% extends "base.html" %}

{% block content %}
    {% if request.user.idGroup == 1 %}
        {% if listReceitas %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card striped-tabled-with-hover">
                        <div class="card-header pb-0">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h4 class="card-title text-muted">Receitas</h4>
                                </div>
                                <div class="col-sm-9 d-flex justify-content-end">
                                    <form class="form-inline">
                                        <input class="form-control mr-sm-2" id="search" name="search" placeholder="Pesquisar..." type="text" data-list=".list">
                                    </form>
                                </div>
                            </div>
                            <hr >
                        </div>
                        <div class="card-body table-full-width table-responsive py-0">
                            <table class="table table-striped pb-0 mb-0">
                                <thead>
                                    <th>Remédio</th>
                                    <th>Médico</th>
                                    <th>Intervalo</th>
                                    <th>Início</th>
                                    <th>Dosagem</th>
                                    <th>Informações</th>
                                </thead>
                                <tbody class="list">
                                    {% for receita in listReceitas %}
                                        <tr>
                                            <td>{{receita.receita}}</td>
                                            <td>Dakota Rice</td>
                                            <td>$36,738</td>
                                            <td>Niger</td>
                                            <td>Oud-Turnhout</td>
                                            <td>
                                                <a href="#" class="text-center"><i class="material-icons">description</i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="d-flex align-items-center justify-content-center" style="min-height: 70vh;">
                <div class="card">
                    <div class="card-body m-0">
                        <span class="text-muted">No momento, não existem receitas registradas!</span>
                    </div>
                </div>
            </div>
        {% endif %}    
    {% else %}
        {% if listPacientes %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card striped-tabled-with-hover">
                        <div class="card-header pb-0">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h4 class="card-title text-muted">Receitas</h4>
                                </div>
                                <div class="col-sm-9 d-flex justify-content-end">
                                    <form class="form-inline">
                                        <input class="form-control mr-sm-2" id="search" name="search" placeholder="Pesquisar..." type="text" data-list=".list">
                                    </form>
                                </div>
                            </div>
                            <hr >
                        </div>
                        <div class="card-body table-full-width table-responsive py-0">
                            <table class="table table-striped pb-0 mb-0">
                                <thead>
                                    <th>Remédio</th>
                                    <th>Médico</th>
                                    <th>Intervalo</th>
                                    <th>Início</th>
                                    <th>Dosagem</th>
                                    <th>Informações</th>
                                </thead>
                                <tbody class="list">
                                    {% for receita in listReceitas %}
                                        <tr>
                                            <td>{{receita.receita}}</td>
                                            <td>Dakota Rice</td>
                                            <td>$36,738</td>
                                            <td>Niger</td>
                                            <td>Oud-Turnhout</td>
                                            <td>
                                                <a href="#" class="text-center"><i class="material-icons">description</i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="d-flex align-items-center justify-content-center" style="min-height: 90vh;">
                <div class="card">
                    <div class="card-body m-0">
                        <span class="text-muted">No momento, não existem pacientes registrados!</span>
                    </div>
                </div>
                <a class="scroll-to-top rounded bg-orange" href="{% url 'registrar_paciente' %}" style="display: inline;">
                    <span class="material-icons">add</span>
                </a>
            </div>
        {% endif %}
    {% endif %}   

    <!-- 
        {% if obj.Agenda %}
            <a class="btn waves-effect z-depth-2 " href="{% url 'dosagem_usuario' obj.Receita.id %}" style="background-color:#32BF84">
                <i class="material-icons right">info</i>
                VISUALIZAR
            </a>
        {% else %}
            {% if obj.Receita.data_inicio <= data_atual %}
                <a class="btn waves-effect z-depth-2 " href="{% url 'configura_horario_dosagem' obj.Receita.id %}" style="background-color:#32BF84">
                    <i class="material-icons right">info</i>
                    INICIAR
                </a>
            {% else %}
                <a  onclick="M.toast({html: 'você só pode começar a tomar dia {{obj.Receita.data_inicio}}'})" class="btn waves-effect z-depth-2" style="background-color:#32BF84">
                    <i class="material-icons right">info</i>
                    ESPERA
                </a>
            {% endif %}
        {% endif %}
    -->

{% endblock content %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $('#search').hideseek();
        });
    </script>
{% endblock %}