{% extends "base.html" %}

{% load usuario_extras %}

{% block content %}
    {% if request.user|in_group == GPMedico %}
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top" href="{% url 'registrar_paciente' %}">
            <span class="material-icons">add</span>
        </a>
        <form class="form-inline justify-content-end pb-3">
            <input class="form-control mr-sm-2" id="search" name="search" placeholder="Pesquisar..." type="text" data-list=".list">
        </form>
        
        {% if list_pacientes %}
            <div class="row">
                <div class="col-12">
                    <div class="card striped-tabled-with-hover">
                        <div class="card-body table-full-width table-responsive py-0">
                            <table class="table table-striped pb-0 mb-0">
                                <thead>
                                    <th>Paciente</th>
                                </thead>
                                <tbody class="list">
                                    {% for item in list_pacientes %}
                                        <tr>
                                            <td><a href="{% url 'listar_receitas' item.id %}">{{item.paciente.get_full_name}}</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="d-flex align-items-center justify-content-center" style="min-height: 70vh;">
                <div class="card">
                    <div class="card-body m-0">
                        <span class="text-muted">No momento, não existem receitas registradas!</span>
                    </div>
                </div>
            </div>
        {% endif %}    
    {% else %}
        {% if listReceitaAgendamento %}
            {%for objReceitaAgendamento in listReceitaAgendamento%}
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{objReceitaAgendamento.objReceitaMedicoPaciente.receita}}</div>
                    {% if objReceitaAgendamento.objAgendamento %}
                        <a href="{% url 'dosagem_usuario' objReceitaAgendamento.objReceitaMedicoPaciente.receita.id %}" >aqui nois tem </a>
                    {% else %}
                        <a href="{% url 'configura_horario_dosagem' objReceitaAgendamento.objReceitaMedicoPaciente.receita.id %}" >não tem horarios e nem agendamento</a>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            {% endfor%}
        {% else %}
            você não tem receitas
        {% endif%}
    {% endif %}   
{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#search').hideseek();
        });
    </script>
{% endblock %}