{% extends "base.html" %}

{% load usuario_extras %}

{% block title_page %}
    Pacientes
{% endblock %}

{% block breadcrumb %}
    <div class="row container-fluid d-flex justify-content-between w-100">
        <!-- BEGIN: Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: transparent;">
                <li class="breadcrumb-item active"><a>Dashboard</a></li>
            </ol>
        </nav>
        <!-- END: Breadcrumb -->

        <!-- BEGIN: SearchBar -->
        <form class="form-inline justify-content-end pr-5">
            <input class="form-control" id="search" name="search" placeholder="Pesquisar..." type="text" data-list=".list">
        </form>
        <!-- END: SearchBar -->
    </div>
{% endblock %}

{% block content %}
    <!-- BEGIN: Floating Button -->
    <a class="floating-button floating-bottom-end floating-lg floating-circle" href="{% url 'registrar_paciente' %}">
        <span class="material-icons">add</span>
    </a>
    <!-- END: Floating Button -->
    
    {% if list_pacientes %}
        <div class="d-flex justify-content-center">
            <div class="container-fluid">
                <table class="table">
                    <tbody class="list">
                        {% for item in list_pacientes %}
                            <tr>
                                <td><a href="{% url 'listar_receitas' item.id %}">{{item.paciente.get_full_name}}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> 
            </div>
        </div>
    {% else %}
        <div class="d-flex align-items-center justify-content-center" style="min-height: 70vh;">
            <div class="card">
                <div class="card-body m-0">
                    <span class="text-muted">No momento, não existem receitas registradas!</span>
                </div>
            </div>
        </div>
    {% endif %}    
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#search').hideseek();
        });
    </script>
{% endblock %}