{% extends "base.html" %} 

{% load bootstrap %}

{% load static %}

{% block title %}
    Perfil | C Remédios
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Perfil de Usuário</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{form|bootstrap}}
                        <button type="submit" class="btn btn-info btn-fill pull-right">Salvar</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
