{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
Login | C Remédios
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center h-100">
        <form method="POST" class="form-signin">
            {% csrf_token %}

            <div class="typography-line">
                <span class="text-muted text-center pb-5"><h1>Conectar-se ao sistema</h1></span>
            </div>

            {{form|bootstrap}}

            <div class="form-group d-flex justify-content-start">
                <div class="form-check form-switch ms-3">
                    <input class="form-check-input" type="checkbox" id="check_login">
                    <label class="form-check-label" for="check_login">Mostrar senha</label>
                </div>
            </div>
            <button class="btn btn-md btn-primary btn-block" type="submit">Login</button>
            <div class="text-center pt-2">
                <a class="small" href="{% url 'reset_password' %}">Esqueceu a senha?</a>
            </div>  
            <div class="text-center pt-2">
                <a class="small" href="{% url 'signup' %}">Criar uma conta!</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $(".form-control").attr("required", false)
            
            $("#id_username").attr("placeholder", "Insira o e-mail...");
            $("#id_password").attr("placeholder", "Insira a senha...");
        });
    </script>

    <!-- Função Ajax - Validar Usuário -->
    <script>
        $("#id_username").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: "{% url 'validate_user' %}",
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    if(!data.is_user){
                        notification('danger', 'Atenção... Perigo!!!', 'Não foi possível localizar esse e-mail no banco de dados') //success, info, warning, danger
                    }
                }
            });
        });
    </script>

    <!-- Mostrar/Ocultar Senha -->
    <script>
        $('#check_login').click(function () {
            if($(this).is(':checked')){
                $("#id_password").attr("type", "text");
            } 
            else {
                $("#id_password").attr("type", "password");
            }
        })
    </script>
{% endblock %}