{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Login | Farm Manager
{% endblock %}

{% block content %}
    <div class="container item-center">
        <!-- Outer Row -->
        <div class="row justify-content-center p-5">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border border-5 shadow-lg">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="d-flex align-items-stretch">
                                <img src="{% static 'img/login.svg' %}" class="col-lg-6 d-none d-lg-block bg-primary h-100 figure-img p-5 img-fluid rounded" alt="reset-password">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900">Conectar ao sistema</h1>
                                            <hr>
                                        </div>
                                        <form class="user" method="POST">
                                            {% csrf_token %}
                                            {{form|bootstrap}}
                                            <div class="form-group">
                                                <div class="form-check form-switch ms-3">
                                                    <input class="form-check-input" type="checkbox" id="check_login">
                                                    <label class="form-check-label" for="check_login">Mostrar senha</label>
                                                </div>
                                            </div>
                                            <button id="btn-login" class="btn bt-primary btn-block">
                                                Login
                                            </button>
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="{% url 'reset_password' %}">Esqueceu a senha?</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="{% url 'signup' %}">Criar uma conta!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="position-fixed bottom-0 top-2 right-5 p-3" style="z-index: 5; right: 0; bottom: 0; top:0">
        <div id="toast_login" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
            <div class="toast-header">
                <strong class="mr-auto text-danger">Falha na autenticação!</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <div class="text-danger px-3">
                    O e-mail inserido não está registrado no sistema!
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            //

            $(".form-control").attr("required", false)
            
            $("#id_username").attr("placeholder", "Insira o e-mail...");
            $("#id_password").attr("placeholder", "Insira a senha...");
        });
    </script>

    <!-- Função Ajax - Validar Usuário -->
    <script>
        $("#id_username").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: "{% url 'validate_user' %}",
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    if(!data.is_user){
                        $("#btn-login").attr("disabled", true);
                        $("#toast_login").toast('show');
                    }
                    else{
                        $("#btn-login").attr("disabled", false);
                    }
                }
            });
        });
    </script>

    <!-- Mostrar/Ocultar Senha -->
    <script>
        $('#check_login').click(function () {
            if($(this).is(':checked')){
                $("#id_password").attr("type", "text");
            } 
            else {
                $("#id_password").attr("type", "password");
            }
        })
    </script>
{% endblock %}