{% extends 'usuarios/base.html' %}

{% load static %}

{% load materializecss %}

{% block title %}
  Login | CRemédios
{% endblock %}

{% block content %}
    <div class="item-center container">
        <div class="container">
            <div class="container px-4">
                <div class="card p-1 z-depth-2">
                    <span class="card-title center pt-3">
                        <h5 class="fw-bold">LOGIN</h5>
                    </span>

                    <div class="card-content">
                        <div class="row">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="container">
                                    {{form|materializecss}}
                                </div>

                               <div class="container">
                                    <label>
                                        <input id="check_login" type="checkbox"/>
                                        <span>Mostrar Senha</span>
                                    </label>
                               </div>

                                <div class="center mt-3 mb-3">
                                    <button id="btn-login" class="waves-effect waves-light btn bt-primary z-depth-4 m-1" type="submit">
                                        Conectar    
                                    </button>
                                </div>

                                <div class="row center">
                                    <div class="col s12">
                                        <span class="text-muted">Esqueceu a senha?
                                            <a id="esqueceu" href="{% url 'reset_password' %}">
                                                Recuperar senha
                                            </a>
                                        </span>
                                    </div>
                                    <div class="col s12">
                                        <a id="esqueceu" href="{% url 'signup' %}">
                                            Criar uma conta!
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <style>
        #esqueceu{
            color: #039be5;
        }

        #esqueceu:hover{
            color: #81d4fa;
        }
    </style>
{% endblock %}

{% block javascript %}
    <!-- Função Ajax - Validar Usuário -->
    <script>
        $("#id_username").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: "{% url 'validate_user' %}",
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    if(!data.is_user){
                        M.toast({html: data.error_message})
                        $("#btn-login").attr("disabled", true);
                    }
                    else{
                        $("#btn-login").attr("disabled", false);
                    }
                }
            });
        });
    </script>

    <!-- Mostrar/Ocultar Senha -->
    <script>
        $('#check_login').click(function () {
            if($(this).is(':checked')){
                $("#id_password").attr("type", "text");
            } 
            else {
                $("#id_password").attr("type", "password");
            }
        });
    </script>
{% endblock %}