{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Recuperar Senha | C Remédios
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center h-100 p-2">
        <form method="POST" class="form-signin border px-5 rounded bg-white">
            {% csrf_token %}
            
            <span class="text-muted text-center"><h3>Recuperação de Senha</h3></span>

            {{form|bootstrap}}

            <button class="btn btn-md btn-primary btn-block" type="submit">Recuperar</button>

            <div class="text-center pt-2">
                <a class="small" href="{% url 'login' %}">Já possuí conta? Logar!</a>
            </div>  
            <div class="text-center pt-2">
                <a class="small" href="{% url 'signup' %}">Criar uma conta!</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <!-- Validação do E-mail -->
    <script>
        $("#id_email").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: "{% url 'validate_email_registered' %}",
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    //CONFIRM IF EMAIL EXIST
                    if(!data.is_email_registered){
                        M.toast({html: data.error_message})
                        $("#btn_reset_password").attr("disabled", true);
                    }
                    else{
                        $("#btn_reset_password").attr("disabled", false);
                    }
                }
            });
        });
    </script>
{% endblock %}