{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Redefinição de Senha | Farm Manager
{% endblock %}

{% block content %}
    <div class="container item-center">
        <!-- Outer Row -->
        <div class="row justify-content-center p-5">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border border-5 shadow-lg">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="d-flex align-items-stretch">
                                <img src="{% static 'img/reset-password-complete.svg' %}" class="col-lg-6 d-none d-lg-block bg-primary h-100 figure-img p-5 img-fluid rounded" alt="reset-password">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900">Redefinição de senha completa</h1>
                                            <hr>
                                            <p class="text-justify">Sua senha foi redefinida. Você pode prosseguir e autenticar agora.</p>
                                        </div>
                                        <a href="{% url 'login' %}" class="btn bt-primary  btn-block">
                                            Logar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}