{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Confirmação de Redefinição de Senha | Farm Manager
{% endblock %}

{% block content %}
    <div class="container item-center">
        <!-- Outer Row -->
        <div class="row justify-content-center p-5">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border border-5 shadow-lg">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="d-flex align-items-stretch">
                                <img src="{% static 'img/reset-password-complete.svg' %}" class="col-lg-6 d-none d-lg-block bg-primary h-100 figure-img p-5 img-fluid rounded" alt="reset-password">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900">Insira a nova senha</h1>
                                            <hr>
                                            <p class="text-justify">Por favor, digite sua nova senha duas vezes para que possamos validá-la</p>
                                        </div>
                                        <form method="POST">
                                            {% csrf_token %}
                                            {{form|bootstrap}}

                                            <div class="form-group">
                                                <div class="form-check form-switch ms-3">
                                                    <input class="form-check-input" type="checkbox" id="check_reset_password_confirm">
                                                    <label class="form-check-label" for="check_reset_password_confirm">Mostrar senha</label>
                                                </div>
                                            </div>
                                            <button class="btn bt-primary  btn-block">
                                                Redefinir
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $("#id_new_password1").addClass("form-control-user")
            $("#id_new_password2").addClass("form-control-user")

            $("id_new_password1").attr("required", false)
            $("id_new_password2").attr("required", false)
        });
    </script>

    <!-- Mostrar/Ocultar Senha -->
    <script>
        $('#check_reset_password_confirm').click(function () {
            if($(this).is(':checked')){
                $("#id_new_password1").attr("type", "text");
                $("#id_new_password2").attr("type", "text");
            } 
            else {
                $("#id_new_password1").attr("type", "password");
                $("#id_new_password2").attr("type", "password");
            }
        })
    </script>
{% endblock %}