{% extends 'usuarios/base.html' %}

{% load static %}

{% block title %}
    Redefinição de senha concluída | Votation
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center h-100 container p-5">
        <div method="POST" class="border rounded bg-white p-4">
            <span class="text-muted text-center"><h3>Confirmação de E-mail</h3></span>

            <article class="fs-6 text-justify p-2">
                Um e-mail foi enviado com instruções para redefinir a senha,
                se fornecido com o e-mail correto, a mensagem chegará em breve, se você não tiver
                não recebeu nenhuma mensagem, certifique-se de fornecer o endereço de e-mail em que você está
                registrado. Verifique sua pasta de spam.
            </article>
        </div>
    </div>
{% endblock %}