{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Redefinição de Senha Concluída | Farm Manager
{% endblock %}

{% block content %}
    <div class="container item-center">
        <!-- Outer Row -->
        <div class="row justify-content-center p-5">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border border-5 shadow-lg">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="d-flex align-items-stretch">
                                <img src="{% static 'img/reset-password-done.svg' %}" class="col-lg-6 d-none d-lg-block bg-primary h-100 figure-img p-5 img-fluid rounded" alt="reset-password">
                                <div class="col-lg-6">
                                    <div class="p-4">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900">Confirmação de mensagem para redefinição de senha enviada</h1>
                                            <hr>
                                            <p class="py-3 text-justify">
                                                Um e-mail foi enviado com instruções para redefinir a senha,
                                                se fornecido com o e-mail correto, a mensagem chegará em breve, se você não tiver
                                                não recebeu nenhuma mensagem, certifique-se de fornecer o endereço de e-mail em que você está
                                                registrado. Verifique sua pasta de spam.
                                            </p>
                                        </div>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="{% url 'login' %}">Ir para tela principal</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container item-center">
        <!-- Outer Row -->
        <div class="row justify-content-center p-5">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border border-5 shadow-lg">
                    <div class="card-body p-0">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            
            $("#id_email").attr("required", false)
            $("#id_email").attr("placeholder", "Insira o e-mail registrado...");
        });
    </script>

    <!-- Validação do E-mail -->
    <script>
        $("#id_email").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: "{% url 'validate_email_registered' %}",
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    //CONFIRM IF EMAIL EXIST
                    if(!data.is_email_registered){
                        $("#btn_reset_password").attr("disabled", true);
                    }
                    else{
                        $("#btn_reset_password").attr("disabled", false);
                    }
                }
            });
        });
    </script>
{% endblock %}