{% extends 'usuarios/base.html' %}

{% load static %}

{% block title %}
    Logout | Farm Manager
{% endblock %}

{% block content %}
    <div class="container item-center">
        <!-- Outer Row -->
        <div class="container w-50">
            <div class="text-center">
                <h5>Para o próximo!</h5>
            </div>
            <div class="text-center">
                <p>Você optou por sair do painel, se preferir fazer o login novamente, basta clicar no botão abaixo para retornar à página de login.</p>
                <a id="btn_logout" href="{% url 'login' %}" class="btn bt-primary">
                    <span class="text">LOGAR</span>
                </a>
                <!-- <a id="btn_logout" href="" class="btn btn-secondary">
                    <span class="text">LOGAR</span>
                </a> -->
            </div>
        </div>        
    </div>
{% endblock %}

{% block css %}
    <!-- <style>
        #btn_logout{
            background-color: white;
            color: #4caf50;
            border-color: rgb(232, 231, 231);
        }

        #btn_logout:hover{
            color: #50b654;
            opacity: 0.8;
        }
    </style> -->
{% endblock %}