{% extends 'usuarios/base.html' %}

{% load static %}

{% block title %}
  Logout | C Remedios
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center h-100 p-2">
        <div method="POST" class="form-signin border px-4 rounded bg-white">
            <span class="text-muted text-center"><h3>Logout</h3></span>

            <article class="fs-6 text-justify p-2">
               Você optou por sair do painel, se preferir fazer o login novamente, basta clicar no botão "LOG IN" abaixo para retornar à página de login.
            </article>
            
            <a href="{% url 'login' %}" class="btn btn-md btn-primary btn-block" type="submit">LOG IN</a>
        </div>
    </div>
{% endblock %}