{% extends 'usuarios/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Registrar | C Remédios
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center h-100 p-2">
        <form method="POST" class="form-signup border px-5 rounded bg-white">
            {% csrf_token %}
            <span class="text-muted text-center"><h3>REGISTRAR</h3></span>

            <div class="col-12">{{form.nome|bootstrap}}</div>
            <div class="col-12">{{form.sobrenome|bootstrap}}</div>
            <div class="col-12">{{form.cpf|bootstrap}}</div>
            <div class="col-12">{{form.dataNascimento|bootstrap}}</div>

            <div class="col-12">{{form.email|bootstrap}}</div>
            
            <div class="col-12">{{form.telefone|bootstrap}}</div>

            <div class="col-12">{{form.genero|bootstrap}}</div>
            <div class="col-12">{{form.cep|bootstrap}}</div>
            
            <div class="col-12">{{form.bairro|bootstrap}}</div>
            <div class="col-12">{{form.logradouro|bootstrap}}</div>

            <div class="col-12">{{form.cidade|bootstrap}}</div>
            <div class="col-12">{{form.complemento|bootstrap}}</div>
            <div class="col-12">{{form.numeroResidencial|bootstrap}}</div>
            <div class="row col-12 p-0 m-0">
                <div class="col-12">{{form.password|bootstrap}}</div>
                <div class="col-12">{{form.confirm_password|bootstrap}}</div>
            </div>
            <div class="col-12">
                <div class="form-check form-switch ms-3">
                    <input class="form-check-input" type="checkbox" id="check_sign">
                    <label class="form-check-label" for="check_sign">Mostrar senha</label>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <div class="w-25">
                        <button class="btn col-12 btn-primary btn-md" type="submit">Login</button>
                    </div>
                </div>
                <div class="pt-2">
                    <a class="small" href="{% url 'reset_password' %}">Esqueceu a senha?</a>
                </div>  

                <div class="pt-2">
                    <a class="small" href="{% url 'login' %}">Já possuí conta? Logar!</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block css %}
    <style>    
        .form-signup {
            width: 100%;
            padding: 15px;
            margin: 0 auto;
        } 
    </style>
{% endblock %}

{% block javascript %}
    <!-- Inicialização da Página -->
    <script>
        $(document).ready(function(){
            // JQuery Mask
            $("#id_cpf").mask("000.000.000-00");
            $("#id_telefone").mask("(00) 0 0000-0000");
            $("#id_cep").mask("00000-000");

            // Iniciar como type password 
            $("#id_password").attr("type", "password");
            $("#id_confirm_password").attr("type", "password");
        });
    </script>

    <!-- Mostrar/Ocultar Senha -->
    <script>
        $('#check_sign').click(function () {
            if($(this).is(':checked')){
                $("#id_password").attr("type", "text");
                $("#id_confirm_password").attr("type", "text");
            }
            else {
                $("#id_password").attr("type", "password");
                $("#id_confirm_password").attr("type", "password");
            }
        })
    </script>

    <!-- Validar a Confirmação de Senha -->
    <script>
        $("#id_confirm_password").change(function () {
            var password = $("#id_password").val();
            var confirm_password = $("#id_confirm_password").val();
            var password_size = password.length;

            let regex = /^(?=.*[@!#$%^&*()/\\])[@!#$%^&*()/\\a-zA-Z0-9]{8,16}$/;

            if (password != "" && confirm_password != "" && password === confirm_password){
                if(password_size < 8){
                    notification('danger', 'Ops! Ocorreu algum erro...', 'Quantidade mínima de caracteres: 8') //success, info, warning, danger
                }
                else if(password_size > 16){
                    notification('danger', 'Ops! Ocorreu algum erro...', 'Quantidade máxima de caracteres: 16') //success, info, warning, danger
                }
            }
            else{
                notification('danger', 'Ops! Ocorreu algum erro...', 'As senhas não conferem entre si!') //success, info, warning, danger
                $('#id_password').val('');
                $('#id_confirm_password').val('');
                $('#id_password').focus();
            }
        });
    </script>

    <!-- Validação do E-mail -->
    <script>
        $("#id_email").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: form.attr("validate"),
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    if(data.is_email){
                        notification('danger', 'Ops! Ocorreu algum erro...', 'As senhas não conferem entre si!') //success, info, warning, danger
                        $('#id_email').val("");
                        $('#id_email').focus();
                    }
                }
            });
        });
    </script>
{% endblock %}