{% load static %}

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="description" content="O Objetivo deste website é realizar a gestão de uma fazenda.">
        <meta name="author" content="Lucas Eduardo de Oliveira Santos, Albert Allan Ramos, Fernanda Thomaz Telles de Nogueira Cravo">

        <!-- Let browser know website is optimized for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

        <!-- Import Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Import Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

        <!-- Importando função de carregamento -->
        <link rel="stylesheet" href="{% static 'css/HoldOn/holdon.min.css' %}">

        <!-- Import CSS Personalizado -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">

        <!-- Import CSS Personalizado -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}">

        {% block css %}
        {% endblock %}

        <title>
            {% block title %}
                Farm Manager
            {% endblock %}
        </title>
    </head>

    <body style="background-color: #f5f5f5;">
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        
        <!-- Core plugin JavaScript-->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Importando função de carregamento -->
        <script src="{% static 'js/HoldOn/holdon.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

        <!-- Import JQuery Mask -->
        <script src="{% static 'js/jquery.mask.js' %}"></script>

        <!-- Inicialização -->
        <script>
            $(document).ready(function(){
                $("#btn-login").attr("disabled", true);
                $("#btn_reset_password").attr("disabled", true);
                $("#btn_signup_signup").attr("disabled", true);

                $(window).bind('beforeunload', function() {
                    var options = {
                        theme: "sk-cube-grid",
                        message: '{% if messagem_screen %}{{messagem_screen}}{% else %}Por favor, aguarde...{% endif %}',
                        backgroundColor: "#1847B1k",
                        textColor: "white"
                    };
                    HoldOn.open(options);
                });
                $(window).load(function() {
                    HoldOn.close();
                });
            });

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>

        <!-- Mostrar e Ocultar Senha -->
        <script>
            $('#check_login').click(function () {
                if($(this).is(':checked')){
                    $("#id_new_password1").attr("type", "text");
                    $("#id_new_password2").attr("type", "text");
                }
                else {
                    $("#id_new_password1").attr("type", "password");
                    $("#id_new_password2").attr("type", "password");
                }
            })
        </script>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success'%}
                    <div class="position-fixed bottom-0 top-2 right-5 p-3" style="z-index: 5; right: 0; bottom: 0; top:0; margin-top: 60px;">
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
                            <div class="toast-header">
                                <strong class="mr-auto text-success">Opa, Sucesso...</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                <div class="text-success p-2">
                                    {{message}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif message.tags == 'info'%}
                    <div class="position-fixed bottom-0 top-2 right-5 p-3" style="z-index: 5; right: 0; bottom: 0; top:0; margin-top: 60px;">
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
                            <div class="toast-header">
                                <strong class="mr-auto text-info">Informações para você...</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                <div class="text-info p-2">
                                    {{message}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif message.tags == 'warning'%} 
                    <div class="position-fixed bottom-0 top-2 right-5 p-3" style="z-index: 5; right: 0; bottom: 0; top:0; margin-top: 60px;">
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
                            <div class="toast-header">
                                <strong class="mr-auto text-warning">Ops! Falhas a vista....</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                <div class="text-warning p-2">
                                    {{message}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif message.tags == 'error'%}
                    <div class="position-fixed bottom-0 top-2 right-5 p-3" style="z-index: 5; right: 0; bottom: 0; top:0; margin-top: 60px;">
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
                            <div class="toast-header">
                                <strong class="mr-auto text-danger">Ops! Ocorreu algum erro....</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body">
                                <div class="text-danger p-2">
                                    {{message}}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% block javascript %}
        {% endblock %}
    </body>
</html>