/* FOOTER */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* BARRA ROLAGEM PERSONALIZADA */
html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px
} 

body::-webkit-scrollbar-thumb {   
    background-color: darkgrey;   
}

.text-muted{
    color:#6c757d !important;
}

.btn{
    cursor: pointer !important;
}

.footer-copyright{
    position: absolute;
    bottom: 0;
}

.bg-orange{
    background-color: #f96332 !important;
}

.bg-transparent{
    background-color: transparent !important;
}

.bg-image::after {
    content: "";
    background: url(../img/sidebar-4.jpg);
    background-repeat: no-repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.size-icon{
    font-size: 5px;
}

.btn-primary{
    color:#fff;
    background-color:#f37045;
    border-color:#f37045;
}

.btn-primary:hover{
    color:#fff;
    background-color:#f57a52;
    border-color:#f7855f;
}

.btn-primary.focus,.btn-primary:focus{
    box-shadow:0 0 0 3px #ee815d;
}

.btn-primary.disabled,.btn-primary:disabled{
    background-color:#007bff;
    border-color:#007bff
}

.help-block{
    color: #ff6662;
    padding: 0;
}
 