/*  Example Floating Button
    <a class="scroll-to-top rounded" href="#" style="display: inline; color: blue">
        <span class="material-icons">add</span>
    </a>
*/

.scroll-to-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 2.25rem;
    bottom: 2.25rem;
    width: 3.35rem;
    height: 3.35rem;
    text-align: center;
    color: #fff;
    background-color: #eb440d;
    border-radius: 80% !important;
}

.scroll-to-top:focus{
    color: white;
    background-color: #5c4036;
}

.scroll-to-top:hover {
    background-color: #eb5422;
}

.scroll-to-top .material-icons {
    font-weight: 550;
}

.scroll-to-top .material-icons{
    color: rgb(255, 255, 255); 
    line-height: 45px; 
    font-size: 26px;
}
