/* FOOTER */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.btn{
    cursor: pointer !important;
}

.footer-copyright{
    position: absolute;
    bottom: 0;
}

.bg-orange{
    background-color: #f96332 !important;
}

.bg-transparent{
    background-color: transparent !important;
}

.bg-image::after {
    content: "";
    background: url(../img/sidebar-4.jpg);
    background-repeat: no-repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.size-icon{
    font-size: 5px;
}

