{% extends "base.html" %}

{% load bootstrap %}

{% block content %}
    <div class="row px-5 pt-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb border bg-white">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
        <div class="col-md-12 border bg-white py-3">
            <h3 class="text-muted">{{action}} Receita</h3>
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">{{form.remedio|bootstrap}}</div>
                    <div class="col-sm-4">{{form.data_inicio|bootstrap}}</div>
                    <div class="col-sm-4">{{form.intervalo|bootstrap}}</div>
                    <div class="col-sm-4">{{form.dosagem|bootstrap}}</div>
                    <div class="col-sm-4">{{form.quantidade_dias|bootstrap}}</div>

                    <div class="col-sm-12">
                        <a href="{% url 'listar_receitas' id_medico_paciente %}" class="btn btn-secondary btn-fill">Cancelar</a>
                        <button type="submit" class="btn btn-info btn-fill">{{action}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <!-- <script>
        /* Inicialização do datepicker */
        $(document).ready(function(){
            $('.datepicker').datepicker({
                i18n: {
                    months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabádo'],
                    weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
                    weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
                    today: 'Hoje',
                    clear: 'LIMPAR',
                    cancel: 'SAIR',
                    done: 'CONTINUAR',
                    labelMonthNext: 'Próximo mês',
                    labelMonthPrev: 'Mês anterior',
                    labelMonthSelect: 'Selecione um mês',
                    labelYearSelect: 'Selecione um ano',
                    selectMonths: true,
                    selectYears: 15,
                },
                format: 'yyyy-mm-dd',
                container: 'body',
                yearRange: 10,
                minDate: new Date(),
            }); 
            $("#id_data_inicio").addClass('datepicker').attr("type","text");
        });
    </script> -->
{% endblock %}