<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}">
        <script type="text/javascript" src="{% static 'js/custom.js'%}"></script>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materializedatetimepicker.js' %}"></script>
        <script src="{% static 'js/jquery.mask.min.js'%}"></script>
    
        <title>Document</title>
    </head> 
<body>
    <script>
        $(document).ready(function(){
            $('select').formSelect();
            $('.tabs').tabs();
            $(".dropdown-trigger").dropdown();
            $('.sidenav').sidenav();
        });
    </script>
    <header>
        <ul id="Cadastros" class=" dropdown-content">
            <li><a 
                href="{% url 'cadastrar_remedio'%}">
                <i class="material-icons right">health_and_safety</i>
                Remedios
            </a></li>
            <li><a 
                href="{% url 'cadastrar_receita' %}">
                <i class="material-icons right">fact_check</i>
                Receitas
            </a></li>
        </ul>
        <ul id="Cadastros_side" class="dropdown-content">
            <li><a 
                href="{% url 'cadastrar_remedio' %}">
                <i class="material-icons right">health_and_safety</i>
                Remedios
            </a></li>
            <li><a 
                href="{% url 'cadastrar_receita'%}">
                <i class="material-icons right">fact_check</i>
                Receitas
            </a></li>
        </ul>
        
        <nav>
            <div class=" z-depth-2 red nav-wrapper">
                <a href="#!" class="brand-logo center">{{nome_pagina}}</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-trigger" data-target="Cadastros">
                        Cadastros
                    <i class="material-icons right">arrow_drop_down</i>
                    </a></li>
                    <li><a 
                        href="{%url 'index'%}">
                        <i class="material-icons right">account_circle</i>
                        Dashboard do {{usuario}}
                    </a></li>
                    <li><a 
                        href="{%url 'login'%}">
                        <i class="material-icons right">logout</i>
                        Sair
                    </a></li>
              </ul>
              
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a class="dropdown-trigger" href="#!" data-target="Cadastros_side">
                Cadastros
            <i class="material-icons right">arrow_drop_down</i>
            </a></li>
            <li><a 
                href="{%url 'index'%}">
                <i class="material-icons right">account_circle</i>
                Dashboard do {{usuario}}
            </a></li>
            <li><a 
                href="{%url 'login'%}">
                <i class="material-icons right">logout</i>
                Sair
            </a></li>
        </ul>
        
    </header>


    {% block conteudo %}
    {% endblock conteudo %}

    <footer class="page-footer red ">
        <div class="footer-copyright ">
          
        </div>
    </footer>
    
    
    <script>
        M.Toast.dismissAll();

    $(document).ready(function(){
        $('select').formSelect();
        $('.tabs').tabs();
        $(".dropdown-trigger").dropdown();
        $('.sidenav').sidenav();
        $('.modal').modal();
       
            
    });

    </script>
    
    {% block scripts %}

    

    {% endblock %}

</body>
</html>