{% extends "base.html" %}

{% load materializecss %}

{% block content %}

<script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
            i18n: {
            months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabádo'],
            weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
            today: 'Hoje',
            clear: 'Limpar',
            cancel: 'Sair',
            done: 'Confirmar',
            labelMonthNext: 'Próximo mês',
            labelMonthPrev: 'Mês anterior',
            labelMonthSelect: 'Selecione um mês',
            labelYearSelect: 'Selecione um ano',
            selectMonths: true,
            selectYears: 15,
            },
            format: 'yyyy-mm-dd',
            container: 'body',
            yearRange: 80,
            maxDate: new Date(),
        }); 
        $("#id_data_nascimento").addClass('datepicker').attr("type","text"); 

    }); 
</script>

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="card z-depth-5">
                <div class='container center'>
                    <h4>
                        {{nome_pagina}}
                    </h4>
                </div>

                <div class="container style-form">                 
                    {{ form|materializecss }}
                </div>

                <div class="center text-right">
                    <a href="{% url 'listar_receitas' %}" class="btn btn-secondary text-white" type="button">
                        <span class="text">Cancelar</span>
                    </a>
                    <button class="btn btn-primary" type="submit">
                        <span class="text">Cadastrar</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>



{% endblock content %}