{% extends "base.html" %}

{% block content %}

<main>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="container">
                    <div class="alert alert-success card z-depth-5">
                        <div class="card-content">
                            <li{% if message.tags %} class="{{ message.tags }} text-purple"{% endif %}>{{ message }}</li>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% endif %}

    {% if list_receitas %}

    <div class="fixed-action-btn">
        <a href="{% url 'cadastrar_receita' %}" class="btn-floating btn-large" style="background-color:#32BF84">
            <i class="large material-icons">add</i>
        </a>
    </div>

        <div class="col s12 m6 l10 center">
            <h2 class="text-theme truncate" >
                {{nome_pagina}}
            </h2>
        </div>
        
        <div class="container">
            <table class="responsive-table highlight striped z-depth-3">
                <thead>
                    <tr>
                        <th>Remédio</th>
                        <th>Intervalo</th>
                        <th>Data de Ínicio</th>
                        <th>Dias</th>
                        <th>Dosagem</th>
                        <th>Cronograma</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in list_receitas %}
                    <tr>
                        <td>{{obj.Receita.remedio.nome}}</td>
                        <td>{{obj.Receita.intervalo}} horas</td>
                        <td>{{obj.Receita.quantidade_dias}} dias</td>
                        <td>{{obj.Receita.data_inicio}}</td>
                        <td>{{obj.Receita.dosagem}}</td>
                        <td>
                            {% if obj.Agenda %}
                                <a class="btn waves-effect indigo darken-3 z-depth-2 " href="{% url 'dosagem_usuario' obj.Receita.id %}" >
                                    <i class="material-icons right">info</i>
                                    VISUALIZAR
                                </a>
                            {% else %}
                                {% if obj.Receita.data_inicio <= data_atual %}
                                    <a class="btn waves-effect indigo darken-3 z-depth-2 " href="{% url 'configura_horario_dosagem' obj.Receita.id %}" >
                                        <i class="material-icons right">info</i>
                                        INICIAR
                                    </a>
                                {% else %}
                                    <a  onclick="M.toast({html: 'você só pode começar a tomar dia {{obj.Receita.data_inicio}}'})" class="btn waves-effect indigo darken-3 z-depth-2 " >
                                        <i class="material-icons right">info</i>
                                        ESPERA
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="container">
            <div class="alert card z-depth-5">
                <div class="card-content">
                    <p>
                        <i class="material-icons">info</i>
                        <span>
                            No momento, não existem receitas cadastradas!
                        </span>
                        <a href="{% url 'cadastrar_receita' %}" style="float: right;">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
</main>

{% endblock content %}